%hr.w-full.bg-gray-500.h-px.mt-12.mb-6.h-px.border-0

.flex.justify-between.w-full.items-center.mb-10
  .text-gray-400.text-sm.w-full
    Todos os direitos reservados &copy MC Car #{Date.today.year}

  .text-right.text-gray-400.text-sm.w-full
    = link_to "Avenida Independência, 7160 - Vinhedo/SP", "https://maps.app.goo.gl/cnGpfePehW7hgLU16", class: "hover:text-blue-500"
    %br
    = phone_to "(19) 3876-3548", class: "hover:text-blue-500"
